<div class="example-container mat-elevation-z8">
    <!-- dataSource 데이터 바인딩-->
    <mat-table class="list-table-style" #table [dataSource]="dataSource">
      <!-- matColumnDef: 사용할 컬럼의 이름. ts파일 안에 컬럼명에 대한 배열 정의와 매칭-->
      <ng-container matColumnDef="bisbn">
        <!-- dataSource에 연결된 모든 row를 가져와 element라는 변수에 반복적으로 할당-->
        <!-- element.bisbn 값을 테이블에 출력-->
        <mat-header-cell *matHeaderCellDef> BookCover </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img class="table-bookCover" src="{{element.coverImgUrl}}"> </mat-cell>
          <!-- {{element.coverImgUrl}} </mat-cell> -->
      </ng-container>
  
      <ng-container matColumnDef="btitle">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element" class="table-title"> {{element.title}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="bauthor">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let element" class="table-author"> {{element.author}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="bprice">
        <mat-header-cell *matHeaderCellDef> Publisher </mat-header-cell>
        <mat-cell *matCellDef="let element" class="table-publisher"> {{element.publisher}} </mat-cell>
      </ng-container>
  
      <mat-header-row class="list-header-style" 
                      *matHeaderRowDef="displayedColumns">                  
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>