<div class="container">
    <!-- <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
  
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="#">{{ title }}</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
  
        </div>
      </div>
    </header> -->
    <h1 class="text-center">{{ title }}</h1>
    <nav>
      <!-- href속성을 이용하면 서버에 request를 보내서 href 이용 X-->
      <!-- 메뉴 클릭 시, routerLink에 명시된 경로URL을 Router에 전달-->
      <!-- Router에 의해서 Component가 선택됨-->
      <!-- <a routerLink="/">HOME</a>
      <a routerLink="/book"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="menuActiveClass">BOOK</a>
      <a routerLink="/movie">MOVIE</a> -->

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" routerLink="/">Home</a>
          <a class="p-2 text-muted" routerLink="/book"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    routerLinkActive="menuActiveClass">도서 검색</a>
          <a class="p-2 text-muted" routerLink="/movie">영화 검색</a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
        </nav>
      </div>


    </nav>
  
    <div class="jumbotron p-3 p-md-5 text-dark rounded bg-warning">
      <div class="col-md-12 px-0">
      <!-- Router에 의해 선택된 Component가 지정한 HTML-->
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  